In [2]:
import hashlib # for grading purposes
import math
import numpy as np
import pandas as pd
import requests
import sqlalchemy

from bs4 import BeautifulSoup

# Authentication

In [12]:
base_url = 'https://api.hackathon-03.batch2.lisbondatascience.org/'
auth_req = base_url+'api/token-auth'
response = requests.get(auth_req,params={'username':'ldsa_student'})
token = response.json()
token

{'token': 'fe0bfd98e3920dd027bd4ca2f796b322e6f95c35'}

# Get ALL THE DATA!

In [54]:
headers={'Authorization':'token '+ token['token']}
status=200
page=1
while status==200:
    query = base_url+'api/data?page='+str(page)+'&page_size=2000'
    query_resp = requests.get(query, headers=headers)
    query_result = query_resp.json()
    if query_resp.status_code ==200:
        page_df=pd.DataFrame(query_result['results'])
        if page==1:
            total=pd.DataFrame(page_df)
        else:
            total=total.append(page_df)
    status=query_resp.status_code
    page+=1

KeyError: 'results'

### Export

In [70]:
total.to_csv('api_data.csv')

# wrangling

In [69]:
mask=total['emergencystate_mode']=='Yes'
total.loc[mask,:].head()

,amt_req_credit_bureau_qrt,apartments_avg,days_birth,emergencystate_mode,flag_document_12,flag_document_13,flag_document_9,name_education_type,name_income_type,obs_30_cnt_social_circle,sk_id_curr
307,0.0,0.08040,-19517,Yes,False,False,False,Secondary / secondary special,Working,0,101065
368,1.0,0.01240,-15009,Yes,False,False,False,Secondary / secondary special,Commercial associate,1,101342
383,0.0,0.05360,-24305,Yes,False,False,False,Higher education,Pensioner,0,101413
525,0.0,0.00820,-22399,Yes,False,False,False,Secondary / secondary special,Commercial associate,0,101919
688,1.0,0.00210,-18413,Yes,False,False,False,Secondary / secondary special,Working,0,102526

{'amt_req_credit_bureau_qrt': 1,
 'apartments_avg': None,
 'days_birth': -17255,
 'emergencystate_mode': '',
 'flag_document_12': False,
 'flag_document_13': False,
 'flag_document_9': False,
 'name_education_type': 'Secondary / secondary special',
 'name_income_type': 'Working',
 'obs_30_cnt_social_circle': 0,
 'sk_id_curr': 143241}