In [1]:
# required imports
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Db settings - PostgreSQL
username = 'ldsa_student'
password = 'Z7P3FpkejYgH6jkN'  # the password is not XXX by the way
host_name = 'db.lisbondatascience.org'
port = 5432
db_name = 'datawrangling'
schema = 'hackathon'

conn_str = 'postgresql://{}:{}@{}:{}/{}'.format(username, password, host_name, port, db_name)
conn_args = {'options': '-csearch_path={}'.format(schema)}

We need to create an engine object, which is an object that stores the connection settings, required to communicate with our database. For this, we're using a package called [SQLAlchemy](https://www.sqlalchemy.org/).

Then, we just need to call read_sql_query function, passing it the SQL query as a string and the engine.

In [3]:
engine = create_engine(conn_str, connect_args=conn_args)

In [14]:
query = 'SELECT * FROM credit_risk_target;'
crt = pd.read_sql_query(query, engine)
crt.head()

   SK_ID_CURR  TARGET
0      100004     NaN
1      100006     0.0
2      100012     NaN
3      100014     0.0
4      100015     0.0

When queries are a little more complicated, it may not be very convenient to write it down in line with the code.
In those cases, we can write the query in a file and load it with some python code.

In [15]:
mask = crt.TARGET.isnull()
y_train = crt[~mask]
y_test  = crt[mask]

In [6]:
y_train.shape

(75000, 2)

In [7]:
y_test.shape

(25000, 2)

In [11]:
y_train.to_csv("data/database/train.csv")
y_test.to_csv("data/database/test.csv")

In [16]:
query = 'SELECT * FROM credit_risk_features;'
crf = pd.read_sql_query(query, engine)
crf.head()

,SK_ID_CURR,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,BASEMENTAREA_AVG,ENTRANCES_AVG,FLAG_DOCUMENT_20,FONDKAPREMONT_MODE,CNT_CHILDREN,FLAG_DOCUMENT_15,FLAG_EMAIL,OWN_CAR_AGE
0,100004,0.0,-815.0,NaN,NaN,0,None,0,0,0,26.0
1,100006,0.0,-617.0,NaN,NaN,0,None,0,0,0,NaN
2,100012,0.0,-1673.0,NaN,NaN,0,None,0,0,0,NaN
3,100014,0.0,-844.0,NaN,NaN,0,None,1,0,0,NaN
4,100015,0.0,-2396.0,NaN,NaN,0,None,0,0,0,NaN

In [17]:
crf.to_csv("data/database/credit_risk_features.csv")